<h1>Edit a landmark</h1>


<form action="/landmarks/<%= @landmark.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  Landmark Name: <input type="text" name="landmark[name]" id="name" value="<%= @landmark.name %>">
  <br></br>
  Year Completed: <input type="text" name="landmark[year_completed]" id="year_completed" value="<%= @landmark.year_completed %>">

  <br></br>

  <input type="submit" name="submit" value="Edit Landmark">


</form>
