<h1>Edit <%= @landmark.name %></h1>

</form>
<form action="/landmarks/<%=@landmark.id%>" method="post">
  <input type="hidden" name="_method" value="patch">
  <p><label for="landmark[name]">Name: </label>
    <input type="text" name="landmark[name]" value="<%= @landmark.name %>" id="name"></p>
  <p><label for="landmark[year_completed]">Year Completed: </label>
<input type="text" name="landmark[year_completed]" value="<%= @landmark.year_completed %>" id="year_completed"></p>
  <input type="submit" id="submit" value="Edit Landmark">
</form>
