<h1>Landmarks</h1>
  <% @landmarks.each do |landmark| %>
    <h3>Building: <a href="landmarks/<%= landmark.id %>"> <%= landmark.name %></a>
    Built: <%= landmark.year_completed %></h3>
  <% end %>


  <form action="/figures">
    <input type="submit" value="Figures">
  </form>
