<h1>Create a new landmark</h1>


<form action="/landmarks" method="post">
  Landmark Name: <input type="text" name="landmark[name]" id="landmark_name">
  <br></br>
  Year Completed: <input type="text" name="landmark[year_completed]" id="landmark_year_completed">

  <br></br>

  <input type="submit" name="submit" value="Create New Landmark">


</form>
