<h1>New Landmark</h1>

</form>
<form action="/landmarks" method="post">
  <h2><label for="name">Name: </label><input id="landmark_name" type="text" name="landmark[name]" placeholder="Enter Name..."></h2>
  <h2><label for="year_completed"> Year Completed: </label><input id="landmark_year_completed" type="text" name="landmark[year_completed]" placeholder="Enter Year..."></h2>
  <input type="submit" id="submit" value="Create New Landmark">
</form>
